    body {
            background-color: #f6f6f6;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
        }

        .left {
            width: 450px;
            margin-top: 70px;
            display: inline-block;
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form {
            display: flex;
            width: 300px;
            background-color: rgb(255, 255, 255);
            padding: 20px;
            border-radius: 5px;
            box-shadow: rgb(204, 204, 204) 0px 0px 10px 0px;
            flex-direction: column;
            gap: 10px;
			border-radius:5px;
        }

        input {
            border: 1px solid rgb(204, 204, 204);
            border-radius: 5px;
            padding: 10px;
        }

        #email {
            width: 100%;
        }

        #password {
            width: 100%;
        }

        button {
            background-color: #1877f2;
            border-radius: 5px;
            padding: 10px 20px;
            width: 100%;
            color: white;
            cursor: pointer;
            border: none;
        }

        a {
            text-decoration: none solid rgb(24, 119, 242);
            color:rgb(24, 119, 242);
        }

        .signup {
            background-color: rgb(66, 183, 42);
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            color: white;
            cursor: pointer;
			
        }
